<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/42e9d4206e.js" crossorigin="anonymous"></script>"
    <title>Bookers</title>
  </head>

<main>
<h1 class="top-title">ようこそBookersへ!</h1>

<p class="top-text">Bookersでは、さまざまな書籍に関するあなたの意見や</p>
<p class="top-text">印象を共有し交換することができます</p>

<a class="top-text" href="books">start</a>
</main>